
<!-- End example scripts -->

<!-- Don't touch this! -->


    <script class='include' type='text/javascript' src='../../html/js/plot/jquery.jqplot.min.js'></script>
    <script type='text/javascript' src='../../html/js/plot/syntaxhighlighter/scripts/shCore.min.js'></script>
    <script type='text/javascript' src='../../html/js/plot/syntaxhighlighter/scripts/shBrushJScript.min.js'></script>
    <script type='text/javascript' src='../../html/js/plot/syntaxhighlighter/scripts/shBrushXml.min.js'></script>
<!-- End Don't touch this! -->

<!-- Additional plugins go here -->

  <script class='include' type='text/javascript' src='../../html/js/plot/plugins/jqplot.canvasTextRenderer.min.js'></script>
  <script class='include' type='text/javascript' src='../../html/js/plot/plugins/jqplot.canvasAxisLabelRenderer.min.js'></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>  

<!-- End additional plugins -->

        </div>
        
    </div>

</body>


</html>
